<div class="col-md-12" ng-controller="HomeCtrl">
    <navigation></navigation>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
          Example
        </h4>
        </div>
        <div class="panel-body">
            <p>
                Bellow is an example of using <code>ng-naver-map</code> directive, Naver maps only works in korea so current location will render a gray map if you're outside of korea.
            </p>
            <p>
                The code used for the map bellow is
                <pre>
<code ng-bind="snippet"></code>
            </pre>
            </p>
        </div>
    </div>
    <ng-naver-map zoom="11" center="[37.5675451, 126.9773356]" zoom-control="true" zoom-control-options='{style:"small", position:{right: 10,left: 10}}' size="['width', 400]" enable-wheel-zoom="false" on-center-changed="centerChanged(coord)" on-click="mapOnClick()">
        <ng-naver-map-marker ng-repeat="item in items" model="item" position='{{getPos(item.venue)}}' on-click="toggleInfoWindow($index)" title="item.venue.name"></ng-naver-map-marker>
        <ng-naver-map-infowindow ng-repeat="item in items" index="$index" model="item" position='{{getPos(item.venue)}}' on-click="log(model)">
          <div class="map-info-window" style="color:black;background-color:white;">
            <div class="iw_inner" style="color:black;background-color:white;">
              <h3>서울특별시청</h3>
              <p style="margin:0"> Lorem ipsum silor sit amet Lorem sum silor sit amet, Lorem ipsum silor sit amet Lorem ipsum silor sit amet<br/>
                     <a href="http://www.seoul.go.kr" target="_blank">www.seoul.go.kr/</a></p>
            </div>
            <div class="clearfix">
              <div style="margin: 0px; padding: 0px; width: 0px; height: 0px; position: absolute; border-width: 24px 10px 0px; border-style: solid; border-color: rgb(51, 51, 51) transparent transparent; border-image: initial; pointer-events: none; box-sizing: content-box !important; transform-origin: right bottom 0px; transform: skewX(0deg); bottom: -22px;"></div>
              <div style="margin: 0px; padding: 0px; width: 0px; height: 0px; position: absolute; border-width: 24px 10px 0px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; border-image: initial; pointer-events: none; box-sizing: content-box !important; transform-origin: right bottom 0px; transform: skewX(0deg); bottom: -22px;"></div>
            </div>
          </div>
        </ng-naver-map-infowindow>
    </ng-naver-map>
</div>
